.recent-search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
    margin: 20px auto;
    padding: 12px;
    border-radius: 20px;
    background-color: #00000059;
    gap: 1rem;
}

.recent-search a {
    text-transform: uppercase;
    display: flex;
    font-size: 1.7rem;
    color: #8ab4f8c0;
    text-decoration: none;
    transition: color 0.2s ease;
}

.recent-search a:hover {
    color: #9bc2ff;
    cursor: pointer;
}

.recent-search .material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
    color: #ff0000a8;
    transition: all 0.2s ease;
}

.recent-search .material-symbols-outlined:hover {
    color: #ff0000;
}