.error-message {
    background-color: #0000002d;
    padding: 20px;
    border-radius: 15px;
    max-width: fit-content;
    margin: 100px auto;
}

.error-message img {
    max-width: 350px;
    filter: brightness(2) saturate(2.5);
}

.error-message p {
    font-size: 3rem;
    color: #a1a1a1;
}