* {
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #202124;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}